<router-outlet></router-outlet>
<h2>Exercício 1:</h2>
<app-contador-component></app-contador-component>
<h3>---------------------------------------------</h3>
<h2>Exercício 2 & 3:</h2>
<app-list-items></app-list-items>
<h3>---------------------------------------------</h3>
<h2>Exercício 4:</h2>
<app-form-cadastro></app-form-cadastro>
<h3>---------------------------------------------</h3>
<h2>Exercício 5:</h2>
<app-controle-acesso></app-controle-acesso>
<h3>---------------------------------------------</h3>
<h2>Exercício 6:</h2>
<app-componente-pai></app-componente-pai>
<h3>---------------------------------------------</h3>
<h2>Exercício 7:</h2>
<app-form-login></app-form-login>